<div class="container align-items-center">
  <div class="forget-password-contianer">
    <div class="image-container align-items-center">
      <img src="assets/images/genui.jpg" alt="" *ngIf="!checkPassword">
      <img src="assets/images/login.jpg" alt="" *ngIf="checkPassword">

    </div>
    <div *ngIf="!checkPassword" class="pass-form-container text-center">
      <div class="text-danger text-center">{{errorMessage}}</div>
      <div class=" lead my-3 brand-color">Reset Password?</div>
      <form action="" #resetPassword="ngForm" (ngSubmit)="onSubmit(resetPassword.value)">
        <div class="pass-user-input lock">
          <input type="password" name="newPassword" ngModel placeholder="Enter New Password">
        </div>
        <div class="pass-user-input lock">
          <input type="password" name="confirmPassword" ngModel placeholder="Enter confirm Password">
        </div>
        <button>Submit</button>
      </form>



    </div>
    <div *ngIf="checkPassword" class=" pass-form-container  ">
      <div class="brand-color lead  mr-5 mb-3"> 
       Password Has been Successfully changed!</div>
      <button [routerLink]="['/login']" >Go To Login <i class="fas fa-paper-plane pl-1 text-white"></i></button>
    </div>
  </div>
</div>

<app-loader></app-loader>
