<header>
  <div class="logo-container">
    <img src="assets/images/chatak_logo.jpg" alt="" width="130px">
  </div>
  <div class="user-container dropdown" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    <div class="user-name ">
      {{userName.toUpperCase()}}
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Settings</a>
        <a class="dropdown-item" href="#"><i class="far fa-user-circle mr-2"></i>Profile</a>
        <a class="dropdown-item" href="#" (click)="logout()"> <i class="fas fa-power-off mr-2"></i>Logout</a>
      </div>
    </div>
  </div>
</header>

<div class="container mt-5">
  <div class="list-container">
    <div class="list-header">
      <div class="list-title-container">
        Super Admin Search
      </div>
      <div class="list-button">
        <div class="list-search">
          <input type="text" name="" id="" placeholder="Global Search"
            (input)="userList.filterGlobal($event.target.value, 'contains')">
        </div>

        <button (click)="addNewUser()">Add New User</button>
      </div>
    </div>

    <div class="list-body p-3">
      <!-- <p-table [columns]="cols" [value]="userList" #userList [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td class="action-icons">
              <i class="fas fa-pen" pTooltip="Edit User" tooltipPosition="top" ></i>
              <i class="fas fa-trash" pTooltip="Delete User" tooltipPosition="top"
                ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="count-container">
        Total Count: <b></b>
      </div> -->

      <p-table [value]="userList" [paginator]="true"  [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">
              {{col.header}}
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td *ngFor="let col of cols">
              {{rowData[col.field]}}
            </td>
            <td class="action-icons">
              <i class="fas fa-pen" (click)="editUser(rowData.userId)" pTooltip="Edit User" tooltipPosition="top" ></i>
              <i class="fas fa-trash" (click)="deleteUser(rowData.userId)" pTooltip="Delete User" tooltipPosition="top"
                ></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
   
    </div>
  </div>
</div>


<footer>
  <div class="footer-text">
    Copyright © 2019-2020. Chatak All
    Rights Reserved.
  </div>
</footer>


<p-dialog [header]="dailogTitle" [(visible)]="display" modal='true' [style]="{width: '480px'}"
  [contentStyle]="{'overflow':'hidden', 'padding':'15px'}" (onHide)="onHideModalWindow()">
  <form class="modal-form" #modalForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <label for="" class="required">Role</label>
        <select name="userRole" id="" [(ngModel)]="modalWindowData.userRole">
          <option *ngFor="let role of userRoles" [ngValue]="role.roleId">{{role.roleType}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="" class="required">User Name</label>
        <input type="text" name="userName" id="" [(ngModel)]="modalWindowData.userName" minLength="3" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="" class="required">First Name</label>
        <input type="text" name="firstName" id="" [(ngModel)]="modalWindowData.firstName" required>
      </div>
      <div class="col-md-6">
        <label for="" class="required">Last Name</label>
        <input type="text" name="lastName" id="" [(ngModel)]="modalWindowData.lastName" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <label for="" class="required">Email Address</label>
        <input type="email" name="email" id="" [(ngModel)]="modalWindowData.email" required></div>
      <div class="col-md-6">
        <label for="" class="required">Contact Number</label>
        <input type="number" name="phoneNumber" id="" [(ngModel)]="modalWindowData.phoneNumber" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"> <label for="">Extension</label>
        <input type="number" name="extension" id="" [(ngModel)]="modalWindowData.extension"></div>
      <div class="col-md-6">
        <label for="" class="required">Regions</label>
        <select name="region" id="" [(ngModel)]="modalWindowData.country" required>
          <option *ngFor="let region of regions" [ngValue]="region.regionId">{{region.regionName}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6  "><button *ngIf="errorMessage.length!=0" type="button"
          class="btn btn-danger">{{errorMessage}}</button></div>
      <div class="col-md-6 text-right">
        <button class="cancel" type="button" (click)="onHideModalWindow()">cancel</button> <button type="submit"
          [disabled]="modalForm.invalid" class="save">Save</button>
      </div>

    </div>
  </form>
</p-dialog>
