<div class="container align-items-center">
  <div class="forget-password-contianer">
    <div class="image-container align-items-center">
      <img src="assets/images/password.jpg" alt="" *ngIf="!checkUser">
      <img src="assets/images/mail-sent.jpg" alt="" *ngIf="checkUser">

    </div>
    <div *ngIf="!checkUser" class="pass-form-container text-center" >
      <div class="text-danger text-center">{{errorMessage }}</div>
      <div class=" lead my-3 brand-color">Forgot Password?</div>
      <form  action="" #forgetPassword="ngForm" (ngSubmit)="onSubmit(forgetPassword.value)">
        <div class="pass-user-input" >
          <input type="text" name="userEmail" ngModel placeholder="Enter your Email">
        </div>
        <button>Submit</button>
      </form>
  
  

    </div>
    <div *ngIf="checkUser" class=" pass-form-container  ">
       <div class="text-grey lead  mr-5 mb-3"> Reset Link has been sent to your Email.</div>
       <button>Go To Login <i class="fas fa-paper-plane pl-1 text-white"></i></button>
    </div>
  </div>
</div>

<app-loader></app-loader>
